@model UpperToolsProject.Models.Empresa

@{
    ViewData["Title"] = "AdicionarCadastro";
}

<h1>Empresas</h1>

<h4>Cadastrar CNPJ</h4>
<hr />

@if (TempData["msgSuccess"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["msgSuccess"]</p>
}
@if (TempData["msg"] != null)
{
    <p class="alert alert-danger" id="dangerMessage">@TempData["msg"]</p>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarCadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <input placeholder="Digite o CNPJ da empresa" asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark " id="toastrSuccess">Enviar</button>
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a asp-action="Index">Voltar</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
