@model UpperToolsProject.Models.Empresa

@{
    ViewData["Title"] = "BuscarCadastro";
}

<h1>Empresas</h1>

<h4>Buscar</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="BuscarCadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label" for="cnpj"></label>
                <input asp-for="Cnpj" class="form-control" id="cnpj" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm-4 btn-outline-dark" id="toastrSuccess">Buscar</button>
            </div>
        </form>
    </div>
</div>


<div class="row mt-5">
    <div class="col-md-4">
        <form asp-action="BuscarCadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label" for="nome"></label>
                <input asp-for="Nome" class="form-control" id="nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group md-3">
                <input type="submit" value="Buscar" class="btn btn-outline-dark" id="toastrSuccess" />
            </div>
        </form>
    </div>
</div>




    <div>
        <a asp-action="Index">Voltar</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script type="text/javascript">


    $(function () {
        $("#toastrSuccess").click(function () {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "700",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            },
            @Html.ViewContext
            toastr.info("Os dados do Cpnj só serão guardados caso o valor informado seja válido.");


        });
    });
        </script>



    }
